html, body {
    background-color: rgb(215, 193, 221);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

h1, h2, h5, a, span {
    color: rgb(0, 0, 0);
}

#score-list {
    font-size: 31px;
    color: rgb(43, 43, 122);   

}

ol {
    list-style: none;
    counter-reset: li;
}

li {
    counter-increment: li;
}

li::before {
    content: "." counter(li);
    color: rgb(43, 43, 122);
    display: inline-block;
    width: 16px;
    margin-left: -24px;
    margin-right: 10px;
    text-align: right;
    direction: rtl;
}

hr {
    height: 2px;
    color: rgb(228, 27, 27);
}

#scoresTitle {
    padding-left: 16px;
}