html, body {
    background-color: rgb(215, 193, 221);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

h1, h2, a, span {
    color: antiquewhite;
}

#score-list {
    font-size: 1.2rem;
    color: slategrey;    
}

ol {
    list-style: none;
    counter-reset: li;
}

li {
    counter-increment: li;
}

li::before {
    content: "." counter(li);
    color: aquamarine;
    display: inline-block;
    width: 1rem;
    margin-left: -1.5rem;
    margin-right: 0.5rem;
    text-align: right;
    direction: rtl;
}

hr {
    height: 2px;
    background-color: aquamarine;
}

#scoresTitle {
    padding-left: 1rem;
}